PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/navajas
JWT_SECRET=super-secret-32chars
JWT_EXPIRES=7d
ADMIN_EMAIL=admin@navajas.com
ADMIN_PASSWORD=cambiar-en-produccion
ADMIN_NAME=Admin