PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/navajas
# Para Atlas (Vercel Env Vars):
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/navajas?retryWrites=true&w=majority
JWT_SECRET=super-secret-32chars
# En Vercel agregar también: VERCEL=1 (automático), y en Frontend: API_URL=/api
