PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/navajas
# Para Atlas (Vercel Env Vars):
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/navajas?retryWrites=true&w=majority
JWT_SECRET=super-secret-32chars
ADMIN_EMAIL=admin@navajas.com
ADMIN_PASSWORD=cambiar-en-produccion
ADMIN_NAME=Admin
# En Vercel agregar también: VERCEL=1 (automático), y en Frontend: API_URL=/api
